#game {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85));
    .inner {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 15px;
        padding: 50px 150px;
        color: #222;
    }
    &.team-selected {
        .inner {
            .team:not(.selected) {
                background-color: rgb(181 181 181);
                filter: grayscale(0.8);

                &:hover {
                    transform: none;
                }
            }
        }
        .bottom-bar-container .bottom-btn {
            opacity: 0;
        }
    }

    &.ready-to-shoot {
        .inner {
            .team:not(.selected) {
                background-color: rgb(181 181 181);
                filter: grayscale(0.8);

                &:hover {
                    box-shadow: 0 0 5px 5px rgb(207 46 46 / 57%);
                    transform: scale(1.05);
                    filter: none;
                    background: #ffeded;
                    z-index: 1;
                }
            }
        }
    }
}
